
<div class="col-md-9">
  <form method="POST" action="/users/edit/{{employee.id}}/">

  <input type="hidden" name="back_to_absences" value="1">
  <input type="hidden" name="name" value="{{employee.name}}">
  <input type="hidden" name="lastname" value="{{employee.lastname}}">
  <input type="hidden" name="email_address" value="{{employee.email}}">
  <input type="hidden" name="department" value="{{employee.DepartmentId}}">
  <input type="hidden" name="admin" value="{{#if employee.admin}}1{{else}}0{{/if}}">
  <input type="hidden" name="start_date" value="{{as_date employee.start_date}}">
  <input type="hidden" name="end_date" value="{{as_date employee.end_date}}">

  {{> user_details/breadcrumb employee=employee }}

  <div class="form-group">
    <label class="control-label">Tinjauan</label>
    <div class="progress bigger">
      <div
        class="progress-bar progress-bar-success"
        style="width: {{ leave_statistics.used_so_far_percent }}%"
        data-content="{{# with employee }}{{this.full_name }}{{/with}} di tahun ini telah menggunakan {{ leave_statistics.used_so_far }} hari dari jatah cuti"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >
        {{ leave_statistics.used_so_far }} jatah cuti digunakan
      </div>
      <div
        class="progress-bar progress-bar-warning"
        style="width: {{ leave_statistics.remaining_percent }}%"
        data-content="{{# with employee }}{{this.full_name }}{{/with}} di tahun ini memiliki {{ leave_statistics.remaining }} sisa jatah cuti"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >
        {{ leave_statistics.remaining  }} hari tersisa di tahun ini
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Hari tersedia bagi {{ employee.name }} untuk diambil tahun ini</label>
    <p>{{ user_allowance.number_of_days_available_in_allowance }} dari {{ user_allowance.total_number_of_days_in_allowance }} dari jatah cuti</p>
    <input id="days_remaining_inp" type="hidden" value="{{ user_allowance.number_of_days_available_in_allowance }} dari {{ user_allowance.total_number_of_days_in_allowance }}">
  </div>

  <div class="form-group">
    <label class="control-label">Jatah Cuti Terakumulasi?</label>
    <p>{{# if user_allowance.is_accrued_allowance }}Ya{{else}}Tidak{{/if}}</p>
    <span class="help-block">
      Cara penghitungan jatah cuti yang tersedia didefinisikan oleh departemen. <a href="/settings/departments/edit/{{employee.DepartmentId}}">Selengkapnya <i class="fa fa-angle-double-right"></i></a>
    </span>
  </div>

  <div class="row">
    <div class="col-md-5">
      <dl>
        <dt>Absensi yang telah digunakan tahun ini dikelompokkan berdasarkan tipe cuti</dt>
        {{# if leave_type_statistics }}
          {{# each leave_type_statistics }}
            <dd><em>{{this.leave_type.name}}:</em> <span class="pull-right">{{this.days_taken}}{{# if this.limit}} dari {{this.limit}}{{/if}}</span></dd>
          {{/each}}
        {{else}}
          <dd class="text-muted">Belum ada permohonan yang disetujui.</dd>
        {{/if}}
      </dl>
    </div>

    <div class="col-md-5 col-md-offset-2">
      {{> user_details/allowance_breakdown user_allowance = user_allowance }}
    </div>
  </div>

  <div class="form-group">
    <label for="carried_over_allowance_inp" class="control-label">Jatah cuti terbawa dari tahun lalu</label>
    <div class="input-group col-md-4">
      <input class="form-control" readonly id="carried_over_allowance_inp" type="number" step="0.5" name="carried_over_allowance" value="{{#if carried_over_allowance }}{{carried_over_allowance}}{{else}}0{{/if}}" aria-describedby="carried_over_allowance_help">
      <span class="input-group-addon">hari kerja</span>
    </div>
    <div id="carried_over_allowance_help" class="help-block">
      <div>Penyesuaian jatah cuti berdasarkan hari libur yang tidak digunakan dari tahun lalu.</div>
      <div>Dihitung pada awal tahun ini.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="adjustment_inp" class="control-label">Penyesuaian jatah cuti pada tahun ini</label>
    <div class="input-group col-md-4">
      <input class="form-control" id="adjustment_inp" type="number" step="0.5" name="adjustment" value="{{#if employee_adjustment }}{{employee_adjustment}}{{else}}0{{/if}}" aria-describedby="adjustment_help">
      <span class="input-group-addon">hari kerja</span>
    </div>
    <div id="adjustment_help" class="help-block">
      <div>Menyesuaikan jatah cuti untuk karyawan ini pada tahun ini.</div>
      <div>Dapat bernilai negatif.</div>
      <div>Nilai ini valid pada tahun ini. Tahun berikutnya perlu dikonfirmasi ulang.</div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <button id="save_changes_btn" type="submit" class="btn btn-success pull-right">Simpan perubahan</button>
    </div>
  </div>
  </form>

  <div class="main-row_header">&nbsp;</div>

  {{> user_requests_grouped grouped_leaves=grouped_leaves logged_user=logged_user }}

</div>
