{{!

  This sub template renders Employee's allowance breakdown.

  It relies on following entries in context:

    * user_allowance - an object representing current employee's allowance

}}

<dl>
  <dt>Perincian jatah cuti
    <i class="fa fa-question-circle"
      data-content="Ini adalah penjelasan cara kita mendapatkan total jatah cuti. Arahkan kursor ke setiap angka untuk mendapatkan detail apa maksudnya."
      data-placement="top"
      data-toggle="popover"
      data-trigger="focus hover"
    ></i>
  </dt>
    <dd>
      <em>Jatah cuti </em>
      <span class="pull-right"
        data-content="Jatah cuti berdasarkan departemen karyawan ini."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.nominal_allowance }}</span>
    </dd>
    <dd>
      <em>Terbawa dari {{previous_year}}</em>
      <span class="pull-right"
        data-content="Jatah cuti yang terbawa dari tahun sebelumnya. Catatan: jumlah ini dihitung pada hari pertama tahun."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.carry_over }}</span>
    </dd>
    <dd>
      <em>Penyesuaian individual</em>
      <span class="pull-right"
        data-content="Penyesuaian jatah cuti yang dilakukan oleh administrator."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.manual_adjustment }}</span>
    </dd>
    <dd>
      <em>Mulai/akhir kerja</em>
      <span class="pull-right"
        data-content="Penyesuaian otomatis pada jatah cuti berdasarkan hari mulai dan akhir kerja karyawan."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.employement_range_adjustment }}</span>
    </dd>
    <dd>
      <em>Telah digunakan</em>
      <span class="pull-right"
        data-content="Banyaknya hari yang telah digunakan dari jatah cuti."
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{#if_equal user_allowance.number_of_days_taken_from_allowance 0}}{{else}}-{{/if_equal}}{{ user_allowance.number_of_days_taken_from_allowance}}</span>
    </dd>
    {{# if user_allowance.is_accrued_allowance }}
      <dd>
        <em>Telah terkunci</em>
        <span class="pull-right"
          data-content="Banyaknya hari tidak tersedia pada jatah cuti karena sifat akumulasi jatah libur."
          data-placement="top"
          data-toggle="popover"
          data-trigger="focus hover"
        >{{ user_allowance.accrued_adjustment }}</span>
      </dd>
    {{/ if}}
</dl>
