
<form method="POST" action="/users/edit/{{employee.id}}/">

<div class="col-md-7">

  {{> user_details/breadcrumb employee=employee }}

  <div class="form-group">
    <label for="name_inp" class="control-label">Nama Depan</label>
    <input class="form-control" id="name_inp" name="name" required value="{{employee.name}}">
  </div>

  <div class="form-group">
    <label for="lastname_inp" class="control-label">Nama Belakang</label>
    <input class="form-control" id="lastname_inp" name="lastname" required value="{{employee.lastname}}">
  </div>

  <div class="form-group">
    <label for="email_inp" class="control-label">Alamat Surel</label>
    <input class="form-control" id="email_inp" type="email" name="email_address" required value="{{employee.email}}" aria-describedby="email_help">
    <span id="email_help" class="help-block">Alamat surel yang digunakan oleh karyawan ini</span>
  </div>

  <div class="form-group">
    <label for="select_inp" class="control-label">Departemen</label>
    <select class="form-control" id="select_inp" name="department" aria-describedby="department_help">
      {{#each company.departments}}
          <option value="{{this.id}}" {{#if_equal ../employee.DepartmentId this.id}} selected="selected"{{/if_equal}}>{{this.name}} (penyetuju {{this.boss.name}} {{this.boss.lastname}})</option>
      {{/each}}
    </select>
    <span id="department_help" class="help-block">Departemen karyawan ini. <a href="/settings/departments/edit/{{employee.DepartmentId}}">Selengkapnya <i class="fa fa-angle-double-right"></i></a></span>
  </div>

  <div class="form-group">
      <label for="admin_inp" class="control-label">
        <input class="" id="admin_inp" name="admin" type="checkbox" {{# if employee.admin}} checked="checked"  {{/if}} >
        Merupakan administrator
      </label>
  </div>

  <div class="form-group">
      <label for="auto_approve_inp" class="control-label">
        <input class="" id="auto_approve_inp" name="auto_approve" type="checkbox" {{# if employee.auto_approve}} checked="checked"  {{/if}} >
        Otomatis setujui permohonan cuti
      </label>
      <span class="help-block">Atur ke YA untuk membuat semua permohonan cuti dari {{#with employee}}{{this.full_name}}{{/with}} berstatus <strong>Disetujui</strong>.</span>
  </div>

  <div class="form-group">
    <label for="start_date_inp" class="control-label">Dimulai sejak</label>
    <div class="input-group col-md-4">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control" id="start_date_inp" type="text" name="start_date" required data-date-autoclose="1" data-provide="datepicker" data-date-format="{{#with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date employee.start_date}}" aria-describedby="start_date_help">
    </div>
    <span id="start_date_help" class="help-block">Tanggal mulai karyawan (inklusif)</span>
  </div>

  <div class="form-group">
    <label for="end_date_inp" class="control-label">Berakhir pada</label>
    <div class="input-group col-md-4">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control" id="end_date_inp" type="text" name="end_date" data-date-autoclose="1" data-provide="datepicker" data-date-format="{{#with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date employee.end_date}}" aria-describedby="end_date_help">
    </div>
    <span id="end_date_help" class="help-block"><div>Tanggal ketika karyawan keluar dari {{ company.name }}.</div><div>Setelah tanggal ini, karyawan tidak dapat mengakses kantor.</div><div>Ini adalah cara untuk menonaktifkan akun karyawan.</div></span>
  </div>

  <div class="form-group">
    <label for="password_inp" class="control-label">Kata sandi</label>
    <input class="form-control" id="password_inp" type="password" name="password_one" value="" {{#if company.ldap_auth_enabled}} readonly {{/if}} aria-describedby="password_inp_help">
    <span id="password_inp_help" class="help-block">
      {{# if company.ldap_auth_enabled }}
        <a href="/settings/company/authentication/">Autentikasi LDAP</a> diaktifkan, sehingga kata sandi tidak berpengaruh.
      {{else}}
        Atur kata sandi karyawan.
      {{/ if}}
    </span>
  </div>

  <div class="form-group">
    <label for="password_inp" class="control-label">Konfirmasi kata sandi</label>
    <input class="form-control" id="confirm_password_inp" type="password" name="password_confirm" value="" {{# if company.ldap_auth_enabled}}readonly{{/if}}>
  </div>

  <div class="form-group">
    <label for="link_to_email_audit" class="control-label">
      <a href="/audit/email/?user_id={{employee.id}}">Surel yang pernah dikirimkan kepada {{#with employee}}{{this.full_name}}{{/with}}</a>
    </label>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button id="save_changes_btn" type="submit" class="btn btn-success pull-right">Simpan perubahan</button>
    <a class="btn btn-link pull-right" href="/users/">Batal</a>
  </div>
</div>

</form>
