Akun TimeOff.Management baru untuk {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Halo <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> baru saja mendaftarkan akun baru untuk Anda sebagai karyawan di <strong>{{company.name}}</strong>.</p>

<p>Silakan hubungi <strong>{{admin_user.name}}</strong> mengenai kata sandi baru Anda di {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Atau, ikuti pranala berikut untuk mengatur kata sandi baru:

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Atur kata sandi baru'}}
{{/ with }}

</p>

<p>Terima kasih</p>
