
{{> header }}

<h1>Umpan saya</h1>

<p class="lead">Umpan untuk kalender eksternal</p>

{{> show_flash_messages }}

<div class="row">

  <div class="col-md-6">

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Bagikan data TimeOff.Management Anda dengan penyedia kalender eksternal seperti Microsoft Outlook, Apple Calendar (iCal) atau Google Calendar.</p>

        <p class="description-paragraph">Kami menyediakan dua berkas dari:</p>
        <p class="description-paragraph">
          Laman <a href="/calendar/">Kalender Saya</a> - mengumpankan semua data dari laman Kalender Saya
        </p>
        <p class="description-paragraph">
          Laman <a href="/calendar/teamview/">Tinjauan Tim</a> - mengumpankan data Tinjauan Tim untuk bulan ini
        </p>

        <p class="description-paragraph">Untuk mengekspor umpan ke aplikasi kalender bawaan, cukup klik pada tautan yang sesuai.</p>

        <p class="description-paragraph">Sebaliknya, cukup salin tautannya dan tempel ke aplikasi eksternal.</p>

      </div>
    </div>

    <div class="row feeds-holder">


      <div class="col-md-5 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">Umpan kalender saya <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

      <div class="col-md-5 col-md-offset-2 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Umpan tinjauan tim <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Tutup"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

    </div>
  </div>


  <div class="col-md-6">
    <div class="row feed-calendar-big-picture-holder">
      <i class="fa fa-calendar feed-calendar-big"></i>
    </div>
  </div>



</div>

{{> footer }}
